<script>

$(document).ready(function () {
  $("#questions").hide();
  $("#quizzes").hide();
  $("#sections").hide();
  var questionTemplate = Handlebars.compile($("#question-template").html());
  var quizTemplate = Handlebars.compile($("#quiz-template").html());
  var sectionTemplate = Handlebars.compile($("#section-template").html());
  var pageTitle = $("#title");

  $("#quizzesItem").click(function() {
    $("#questions").hide();
    $("#sections").hide();
    $("#quizzes").show();
    pageTitle.text("Quizzes");
    return false;
  });

  $("#questionsItem").click(function() {
    $("#quizzes").hide();
    $("#sections").hide();
    $("#questions").show();
    pageTitle.text("Questions");
    return false;
  });

  $("#sectionsItem").click(function() {
    $("#quizzes").hide();
    $("#questions").hide();
    $("#sections").show();
    pageTitle.text("Sections");
    return false;
  });

  io.socket.get('/quiz/', function (quizzes) {
      $("#quizzes").empty();
      quizzes.forEach(function(quiz) {
        var questions = [];
        var quizHtml = '';
        async.each(quiz.questionSet, function iterator(question_id, questionCallback) {
          io.socket.get('/question/' + question_id, function (question) {
            questions.push(question.question);
            questionCallback();
          });
        }, function done(err) {
          quiz.questions = questions;
          quizHtml += quizTemplate(quiz);
          $("#quizzes").append(quizHtml);
        });
      });
  });

  io.socket.get('/question/', function (questions) {
    questionHtml = '';
    questions.forEach(function (question) {
      questionHtml += questionTemplate(question);
    });
    $("#questions").html(questionHtml);
  });

  io.socket.get('/section/', function (sections) {
      $("#sections").empty();
      sections.forEach(function(section) {
        var students = [];
        var sectionHtml = '';
        async.each(section.students, function iterator(student_id, studentCallback) {
          io.socket.get('/auth/' + student_id, function (student) {
            students.push(student.email);
            studentCallback();
          });
        }, function done(err) {
          if (students.length > 0) {
            section.students = students;
            sectionHtml += sectionTemplate(section);
            $("#sections").append(sectionHtml);
          }
        });
      });
  });
});

</script>

<script type="text/x-handlebars" id="question-template">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        {{question}}
      </div>
      <div class="mdl-card__supporting-text">
        <ul>
          {{#each choices}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="quiz-template">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        {{quiz_name}}
      </div>
      <div class="mdl-card__supporting-text">
        <ul>
          {{#each questions}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="section-template">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="mdl-cell--6-col">
          {{course_id}}
        </div>
        <div class="mdl-cell--6-col">
          {{section_id}}
        </div>  
      </div>
      <div class="mdl-card__supporting-text">
        <b>{{instructor}}</b>
        <ul>
          {{#each students}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
      </div>
    </div>
  </div>
</script>

<div class="clicker-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="clicker-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" id="title">Home</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
    </div>
  </header>
  <div class="clicker-drawer mdl-layout__drawer mdl-color--red-900 mdl-color-text--blue-grey-50">
    <header class="clicker-drawer-header">
      <img src="http://qca.st/images/team/david.jpg" class="clicker-avatar"/>
      <div class="clicker-avatar-dropdown">
        <span>davidmca@usc.edu</span>
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>
      </div>
    </header>
    <nav class="clicker-navigation mdl-navigation mdl-color--red-700">
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--yellow-700 material-icons" role="presentation">home</i>Home</a>
      <a class="mdl-navigation__link" href="" id="quizzesItem">
        <i class="mdl-color-text--yellow-700 material-icons" role="presentation">list</i>Quizzes</a>
      <a class="mdl-navigation__link" href="" id="questionsItem">
        <i class="mdl-color-text--yellow-700 material-icons" role="presentation">help</i>Questions</a>
      <a class="mdl-navigation__link" href="" id="sectionsItem">
        <i class="mdl-color-text--yellow-700 material-icons" role="presentation">class</i>Sections</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--yellow-700 material-icons" role="presentation">insert_chart</i>Reports</a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid clicker-content">
        <div class="mdl-grid" id="questions"></div>
        <div class="mdl-grid" id="quizzes"></div>
        <div class="mdl-grid" id="sections"></div>
    </div>
  </main>
</div>