<script>

function deleteSection(id) {
	io.socket.delete('/section/' + id, function (res) {
		window.location.reload(true);
	});
	return true;
};

$(document).ready(function () {

	$("#title").text("Sections");

	var sectionTemplate = Handlebars.compile($("#section-template").html());

	io.socket.get('/section/', function (sections) {
		sections.forEach(function (section) {
			var students = [];
			var sectionHtml = '';
			async.each(section.students, function iterator(student_id, studentCallback) {
				io.socket.get('/auth/' + student_id, function (student) {
					students.push(student.email);
					studentCallback();
				});
			}, function done(err) {
				if (students.length > 0) {
					section.students = students;
					sectionHtml += sectionTemplate(section);
					$("#sections").append(sectionHtml);
				}
			});
		});
	});

});

</script>

<script type="text/x-handlebars" id="section-template">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="mdl-cell--6-col">
          {{course_id}}
        </div>
        <div class="mdl-cell--6-col">
          {{section_id}}
        </div>  
      </div>
      <div class="mdl-card__supporting-text">
        <b>{{instructor}}</b>
        <ul>
          {{#each students}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="return deleteSection({{id}});">Delete</a>
      </div>
    </div>
  </div>
</script>

<body>
<div class="mdl-grid" id="sections"></div>
</body>